.timeWrapper {
  width: 80%;
  margin: 0 auto;
  border: 3px solid #243c32;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.timeWrapper__box {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.timeWrapper__box--border {
  border-right: 3px solid #243c32;
}
.timeWrapper__box--active {
  color: #007243;
}
.timeWrapper__time {
  font-size: 20px;
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sessionInfo {
  font-size: 20px;
}
.startSession {
  background-color: #f5f5dc;
  color: #243c32;
  font-weight: 600;
  border: 2px solid #243c32;
  margin-bottom: 25px;
  padding: 5px 10px;
}
.startSession:hover {
  cursor: pointer;
}
.startSession:disabled {
  opacity: .6;
  cursor: auto;
}
@media (min-width: 624px) {
  .timeWrapper {
    height: 300px;
  }
  .timeWrapper__time {
    font-size: 32px;
  }
}
